@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400..500&display=swap');

html {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
}
h3,
small {
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 0.813rem);
}
p {
  font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
}
